.container {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

h2{
    margin-bottom:20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  background-color: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.details-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-btn {
  background-color: gold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 25px;
  cursor: pointer;
}