 body {
    background-color: #f7f6f2;
    margin: 0;
    padding:0;
    padding-bottom: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.box {
    background-color: white;
    padding: 30px 25px;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

nav{
    margin-bottom:20px;
}

button {
    background-color: #ff9f43;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

a {
    color: #f0c399;
    text-decoration: none;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}

fieldset {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 10px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="number"], input[type="email"] {
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 12px 15px;
    outline: none;
    margin-top: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

#pf {
    margin-top: 20px;
    font-size: 3rem;
}

.btn {
    margin-top: 30px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Tablet styles */
@media (min-width: 768px) {
    .box {
        padding: 40px 50px;
        width: 70%;
    }
    
    fieldset {
        padding: 30px;
    }
    
    input[type="text"], input[type="password"], input[type="date"], input[type="number"], input[type="email"] {
        display: inline-block;
        width: calc(50% - 15px);
        margin-right: 15px;
    }
    
    input[type="text"]:nth-of-type(even), 
    input[type="email"]:nth-of-type(even) {
        margin-right: 0;
    }
    
    #pf {
        font-size: 4rem;
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    .box {
        padding: 50px 70px;
        width: 60%;
    }
    
    fieldset {
        padding: 40px;
    }
    
    #pf {
        font-size: 50px;
    }
}